/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#container{
    width:600px;
    padding: 7px; 
    margin: 0 auto 0 auto;
    
}
#topbar{
    background-color:#666633;
}

#menu::before{
	content:url(pics/coffey.jpg); 
	display:block; 
	width:100%;
	margin: 0px;
	padding:0px;
	float:left;
	border-style: solid none;
}

#menu{
    background-color:#666633;
}
#menu li {
	background:#666633;
	float:left;
	margin-top:-29px;
   
} 

#menu li a{
	padding: 10px;
	display: inline-block;
	width: 100px;
	text-align: center;
	font-size: 19px;
	color: rgba(6, 0, 0, 1);
	background:#666633;

}


#menu li a:hover {
	cursor: pointer; 
	background: rgba(0,0,255,0.6);
	color: rgba(0,0,0,1);
}

#menu #current {
	font-weight: bold;
	background: rgba(0,0,255,0.47);
}

ul{
	padding-left: 0px;
	margin-left: 0px;
}

#content{
	background-color:LightGray;
}
#maincontent{
    float:left;
    display:inline;
    width:60%;
}

#bubbel{
	float:left;
	padding: 0px 10px 0px 0px;
}
	
#subcontent{
	float:right;
	width:40%;
}

